:root{
  --back : #000;
  --backSec : #1d1d1d;
  --backTri: #171717;
  --textPrimary : #eee;
  --textSeconary : #aaa;
  --border:#333;
  --borderHighlight:#aaa;
  --hover:#555;
  --primary:#f05454;
  --primaryLight:#fa5d5d;
  --errText : #fab3ae;
  --errBack : #180605;
  --succBack : #071107;
  --succText : #b7dfb9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--back);
  color: var(--textPrimary);
}



*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 70%;
  margin: 25px auto;
}

/* usefull */
.to-right{
  margin-left: auto !important;
}

/* buttons */
.btn{
  color: white;
  text-decoration: none;
  border-radius : 10px;
  padding: 6px;
  font-weight: 600;
  font-size: 1rem;
  margin: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  background-color: var(--hover);
}

.btn-large{
  width: 100%;
}

.primary{
  background-color: var(--primary);
  color: var(--back);
  border: 2px solid var(--primary);
}

.primary:hover{
  background-color: var(--primaryLight);
}

.secondary{
  border: 2px solid var(--primary);
  color: var(--primary);
}

/* navbar */
.navbar{
  background-color: var(--backSec);
  height: 56px;
  border-bottom: 1px solid var(--border);
  display:flex;
  align-items: center;
  padding: 0 10px;
}

.navTitle{
  max-width: 100px;
}

/* post */
.postCont{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post{
  display: flex;
  flex-direction: column;
  color: var(--textPrimary);
  text-decoration: none;
  width: 100%;
  margin: 5px 0;
  border: 1px solid var(--border) ;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--backTri);
}

.post:hover{
  border: 1px solid var(--borderHighlight);
}

.postHeader{
  display: flex;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border);
  background-color: var(--backSec);
}

.postTitle{
  font-size: 1.8rem;
  font-weight: 600;
}

.postNameDateCont{
  display: flex;
}

.post-user-name{
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 0.8rem;
  color: var(--textSeconary);
}

.postDate{
  display: flex;
  align-items: center;
  margin: 0 8px;
  font-size: 0.8rem;
  color: var(--textSeconary);
  white-space: nowrap;
}

.postDesc{
  margin: 20px 0;
  margin-left: 10px;
  font-size: 1rem;
  color: var(--textSeconary);
}

.postComments{
  margin-left: 10px;
  color: var(--textSeconary);
  margin-bottom: 10px;
}

.add-post{
  display: flex;
  flex-direction: column;
  color: var(--textPrimary);
  text-decoration: none;
  width: 100%;
  margin: 5px 0;
  border: 1px solid var(--border) ;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--backSec);
}

.commentsTitle{
  font-size: 1.2rem;
  margin-top: 20px;
}


/* input */
input , textarea{
  background-color: var(--backSec);
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--textPrimary);
  padding: 6px 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

textarea{
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
}


.inputTitle{
  font-size: 1.6rem;
  font-weight: 600;

}

/* alert */
.alert{

}

.error{
  background-color: var(--errBack);
  color: var(--errText);
  border: 1px solid var(--errText);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.success{
  background-color: var(--succBack);
  color: var(--succText);
  border: 1px solid var(--succText);
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.footer{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border);
  font-size: 1.2rem;
}

.pageControl{
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer a{
  color: var(--border);
  text-decoration: none;
}


.loader{
  width: 100%;
  min-height: 200px;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width : 900px) {
  .container{
    width: 90%;
  }
}

@media (max-width : 720px) {
  .container{
    width: 95%;
  }

  .postHeader{
    flex-direction: column;
  }
}